<!DOCTYPE html>
<html>
  <head>
    <title>RedditClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <!-- Different display if we are logged in or not -->

    <!-- Logged In: -->
    <!-- Display username, Log out button -->
    <% if logged_in? %>
      <p>Logged in as: <%= current_user.username %></p>
      <form action="<%= session_url %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
        <input type="submit" value="Sign Out">
      </form>
    <% else %>

    <% end %>

    <% if flash[:errors] %>
      <p><%= flash[:errors].join(", ") %></p>
    <% end%>

    <%= yield %>
  </body>
</html>
